{% load static %}
<!DOCTYPE html>
<html lang="en">
   {% include "logado/head.html" %}
<body >
   {% include "logado/menu.html" %}

   {% block body %}
   {% endblock %}

<!-- Compiled and minified JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    var themeColor = '003739';
    $(".nav-wrapper").css("background-color", themeColor);
    $('.sidenav').sidenav();
	$(".dropdown-trigger").dropdown({ hover: true });
	$('.fixed-action-btn').floatingActionButton();
	$('select').formSelect();
	$('.tooltipped').tooltip();
	h = $('nav').height()
    $('.sidenav.sidenav-fixe').css('top',h);

    $('#busca').click(function() {
       var bsc = $('#bsc').val();
       if ( bsc.length > 3){
            $('#formbusca').submit();
       }

     });


  });
</script>
{% block js %}{% endblock %}
</body>
</html>