{% extends "logado/base.html" %}
{% load static %}
{% block body %}
    <main>
        <div class="row">
            <div class="col s12">
                <div class="card ">
                    <div class="card-content">
                        <div>
                            <h5 class="center-align cor_verde">Projeto</h5>
                        </div>
                        <div class="row">
                            <form  method="post"  name="formtopico" id="formtopico" class="col s12">
                                {% csrf_token %}
                                {% if projeto.id %}
                                    <input type="hidden" name="id_projeto" id="id_projeto" value="{{ projeto.id }}">
                                {% endif %}


                                <div class="row">

                                    <div class="input-field col s12 m6 ">
                                        <input placeholder="Digite seu titulo" id="title" type="text" name="title"
                                               class="active validate" value="{{ topic.title }}"
                                               required="required"
                                               data-error="Campo obrigatório">
                                        <label for="title">Titulo*</label>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="input-field col s12 ">
                                    <textarea id="replaypost" name="replaypost"
                                              class="materialize-textarea active validate"
                                              rows="3"
                                              required="required"
                                              data-length="200"
                                              maxlength="200"
                                              data-error="Campo obrigatório">{{ topic.description }}</textarea>
                                        <label for="replaypost">Descrição</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <button class="btn-small pulse waves-effect waves-light z-depth-5" type="submit"
                                            form="formtopico"
                                            name="action" id="action">Enviar
                                        <i class="material-icons right">send</i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block js %}
    <script>
        $(document).ready(function () {
            $('textarea').characterCounter();
        });
    </script>
{% endblock %}
