{% extends "logado/base.html" %}
{% load static %}
{% block body %}

<main>
    <div class="row">
        <div class="col s12">
            <div class="card ">
                <div class="card-content">
                    <div>
                        <h6 class="center-align cor_verde">Tópico</h6>
                        <h6 class="center-align brown-text">
                            <small>{{ project|title }}</small>
                        </h6>
                    </div>
                    <div class="row" style="border-bottom: 1px solid black">
                        <div class="col l2 s4 center-align">
                            {% if topic.creator.pic %}
                            <img class="responsive-img" src="{% get_media_prefix %}{{ topic.creator.pic }}"
                                 style="height:100px">
                            {% else %}
                            <img class="responsive-img" src="https://picsum.photos/300/300" style="height:100px">
                            {% endif %}<br>
                            <small><i>{{ topic.creator|title }}</i></small>
                        </div>
                        <div class="col l10 s8">
                            <small><strong class="cor_verde">{{ topic.title|title }}</strong>
                                <p> {{ topic.description|truncatechars:300 }}<br>
                                    <small><i>{{ topic.created_at|date:"SHORT_DATETIME_FORMAT" }}</i></small>
                                </p>
                        </div>
                    </div>
                    {% if paginacao %}
                    <small>Repostas {{ paginaatual }}/{{ paginacao }}</small>
                    <table class="highlight">
                        {% for i in replylist %}
                        <tr>
                            <td class="center-align" style="vertical-align: text-top; width:80px">
                                {% include "logado/picprofile.html" with person=i.creator %}<br>
                                 <span class="brown-text"><i><b>{{ i.creator |title }}</b></i>
                            </td>
                            <td style="vertical-align:top">
                                <small>
                                    <span class="brown-text"><i><b>{{ i.created_at|date:"SHORT_DATETIME_FORMAT" }}</b></i></span>
                                </small>
                                <p>
                                    {{ i.description|truncatechars:300 }}
                                </p>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% include "logado/pagination.html" %}
                    {% endif %}
                </div>
            </div>
        </div>


        <div class="col s12">
            <div class="card ">
                <div class="card-content">

                    <div class="row">
                        <form method="post" name="formreplay" id="formreplay" class="col s12" style="width:100%">
                            {% csrf_token %}
                            <div class="input-field col l10 s12 ">
                                    <textarea id="replay" name="replay"
                                              class="materialize-textarea active validate"
                                              rows="3" required
                                              data-length="200"
                                              maxlength="200"
                                              data-error="Campo obrigatório"></textarea>
                                <label for="replay">Resposta</label>
                            </div>

                            <div class="input-field col l2 s12">
                                <button class="btn-small pulse waves-effect waves-light z-depth-5" type="submit"
                                        form="formreplay"
                                        name="action" id="action">Enviar
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

    </div>

</main>
{% endblock %}