{% extends "logado/base.html" %}
{% load static %}
{% block body %}
    <main>
        {{ usuario.name }}
        <div class="row">
            <div class="col s1">1</div>
            <div class="col s1">2</div>
            <div class="col s1">3</div>
            <div class="col s1">4</div>
            <div class="col s1">5</div>
            <div class="col s1">6</div>
            <div class="col s1">7</div>
            <div class="col s1">8</div>
            <div class="col s1">9</div>
            <div class="col s1">10</div>
            <div class="col s1">11</div>
            <div class="col s1">12</div>
        </div>
        </div>
    </main>




    <div class="fixed-action-btn">
        <a class="btn-floating btn-large red">
            <i class="large material-icons">mode_edit</i>
        </a>
        <ul>
            <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
            <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
            <li><a class="btn-floating green" href="{% url "projeto" %}"><i class="fas fa-project-diagram"></i></a></li>
        </ul>
    </div>


{% endblock %}