{% extends "logado/base.html" %}
{% load static %}
{% block body %}
    <main>
        <div class="row">
            <div class="col s12">
                <div class="card ">
                    <div class="card-content">
                        <div>
                            <h6 class="center-align cor_verde">Meus Projetos</h6>
                            <br>
                            <div class="row" style="border-bottom: 1px solid black">
                                {% if  paginacao %}
                                    {% if procurandopor %}Procurando por :{{ procurandopor }} - {{ paginaatual }}/{{ paginacao }}
                                    {% else %}Projetos
                                    {% endif %}
                            </div>
                            {% for  i in myprojectList %}
                                <div class="row">
                                    <div class="col s3 m2">
                                        {% if i.project.pic %}
                                            <a href="{% url 'uploadprojeto' id_projeto=i.project.id %}">
                                                <img class="responsive-img"
                                                     src="{% get_media_prefix %}{{ i.project.pic }}"
                                                     style="height:100px">
                                            </a>
                                        {% else %}
                                            <a href=""><img class="responsive-img"
                                                            src="https://picsum.photos/300/300"
                                                            style="height:100px"></a>
                                        {% endif %}
                                    </div>
                                    <div class="col s7 m10 ">
                                        <h6>{% if i.project.admin %}

                                            <a href="{% url 'editarprojeto' id_projeto=i.project.id %}"
                                               class="tooltipped"
                                               data-position="bottom" data-tooltip="Editar Projeto"><i
                                                    class="tiny material-icons">edit</i></a>
                                        {% endif %}
                                            <small><strong class="cor_verde">{{ i.project.name |title }}</strong>
                                            </small>
                                            <br>
                                            <span class="busca_resume">{{ i.project.resume|linebreaks|truncatechars:300 }}</span>
                                            <span class="busca_resume">{{ i.project.need|linebreaks|truncatechars:300 }}</span>
                                            <small>
                                                {% for o in i.project.interests.all %}
                                                    #{{ o.interests }}
                                                {% endfor %}

                                            </small>
                                            <br>
                                            <small><span
                                                    style="color: #3875d7">
                                                
                                               <a href="{% url 'forum' id_projeto=i.project.id %}">Forum</a>  - Seguidores
                                                {%  if i.project.followers > 0  %}
                                                ({{ i.project.followers }})
                                                {% endif %}
                                                - Tarefas  -
                                <a href="javascript:follow({{ i.project.id }})" id="participar" class="follow"
                                   data="{{ i.project.id }}">
                                    {% if i.project.follower %}
                                        Deixar de Participar
                                    {% else %}
                                        Participar
                                    {% endif %}
                                </a><img src="{% get_media_prefix %}pic/ajax-loader.gif" class="nodisplay">
                            </span></small>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                       {% include "logado/pagination.html" %}
                         {% else %}Procurando por :"{{ procurandopor }}" <br>Nada Encontrado
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block js %}
    <script>
        $(document).ready(function () {
            $(".follow").click(function () {
                item = this
                var o = $(item).attr('data');
               $(item).next('img').show();
                url = "/projeto/participar/" + o
                $.get(url, function (resultado) {
                    var ok = resultado;
                    $(item).next('img').hide();
                    $(item).html(resultado);
                });


            })
        });
    </script>
{% endblock %}
