{% extends "logado/base.html" %}
{% load static %}
{% block body %}

    <main>
        <div class="row">

            <div class="col s12">
                <div class="card ">
                    <div class="card-content">
                        <div>
                            <h6 class="center-align cor_verde">Forum</h6>
                            <h6 class="center-align brown-text" ><small>{{ project|title  }}</small></h6>

                            <div class="row" style="border-bottom: 1px solid black">
                                <a href="{% url 'createtopic' id_projeto=id_project %}"
                                   class="pulse waves-effect waves-light z-depth-5 btn-small">Criar um tópico</a>
                            </div>

                        </div>
                        {% if totalregistro > 0 %}
                        <small>Tópicos {{ paginaatual }}/{{ paginacao }}</small>
                        {% endif %}
                        <table class="highlight">
                            {% for  i in topiclist %}
                                <tr >
                                    <td class="minha_td"><small><strong class="cor_verde"><a href="{%  url 'createrplaytopic' id_topico=i.id %}"> {{ i.title|title }}</a></strong>
                                       <span class="brown-text"><i>{{ i.creator |title }}  {{ i.created_at|date:"SHORT_DATETIME_FORMAT" }}</i></small>
                                        <p><small> {{ i.description|truncatechars:300 }}</small></p>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>

                     {% include "logado/pagination.html" %}


                    </div>
                </div>
            </div>
            </form>
        </div>
    </main>
{% endblock %}