{% extends "logado/base.html" %}
{% load static %}
{% block body %}

    <main>
        <div class="row">
            <div class="col s12">
                <div class="card ">
                    <div class="card-content">
                        <div>
                            <h6 class="center-align cor_verde">Mensagem</h6>
                            <br>
                        </div>
                        <div class="row">
                            {% include "logado/projeto-simples.html" %}
                        </div>
                        <div class="row">
                            <div class="col s2">
                                <h8 class="cor_verde">Seguidores</h8>
                                <br>
                                {% for i in followers %}
                                    <small><a href='#' data-target='dropdown1'
                                              class="dropdown-trigger">{{ i.user.profile_name }}</a></small>
                                    <br>
                                {% endfor %}
                            </div>
                            <div class="col s10">

                                <div class="row">
                                    Chats
                                    <hr class="grey"/>

                                    <div class="col s12 m9 l9 tela_chat">
                                        <!--chat -->


                                        <!--chat -->
                                    </div>

                                </div>
                                <div class="row">

                                    <div class="row">
                                        <div class="col s12">
                                            <div class="input-field col s9">
                                                <input placeholder="Digite sua mensagem " id="msg" name="msg"
                                                       type="text"
                                                       class="validate">
                                            </div>
                                            <div class="input-field col s3">
                                                <button class="btn pulse waves-effect waves-light z-depth-5"
                                                        type="button" id="sendchat" name="sendchat"><i
                                                        class="material-icons white-text">send</i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="nada" style="display:none">
            <div id="msg_i">

                <div class="row left-align" style="margin-bottom: 5px">
                    <div class="col s1 m1">
                     {% if usuario.pic %}<img src="{% get_media_prefix %}{{ usuario.pic }}"
                             class="circle responsive-img">{% else %}<img class="responsive-img"
                                                                              src="https://picsum.photos/300/300"
                                                                              style="height:100px"></a>{% endif %}
                    </div>
                    <div class="col s10 m9"  >
                        <small class="blue-grey lighten-3" style="border-radius: 3px;padding:5px">{msg}</small>
                    </div>

                </div>
            </div>

            <div id="msg_you">

                <div class="row" style="margin-bottom: 5px">
                    <div class="col s10 right-align ">
                        <small class="teal lighten-3" style="border-radius: 5px; padding:5px">{msg}</small>
                    </div>
                    <div class="col s1 m1">
                    <img src="https://lh5.googleusercontent.com/-d6V2Y2HV0FU/AAAAAAAAAAI/AAAAAAAAACA/iuRJhY_1XPs/s96-c/photo.jpg"
                         class="circle responsive-img">
                </div>
            </div>

        </div>
        </div>

    </main>
    <!-- Dropdown Structure -->
    <ul id='dropdown1' class='dropdown-content'>
        <li><a href="#!">one</a></li>
        <li><a href="#!">two</a></li>
        <li class="divider" tabindex="-1"></li>
        <li><a href="#!">three</a></li>
        <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
        <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
    </ul>
{% endblock %}
{% block js %}
    <script>
        $(document).ready(function () {
            $('.dropdown-trigger').dropdown();

            i = $("#msg_i").html();
            you = $("#msg_you").html();


            $('#msg').keypress(function (e) {
                var key = e.which;
                if (key == 13) {
                    $('#sendchat').click();
                    return false;
                }
            });


            $('#sendchat').click(function () {
                msg = $('#msg').val();
                $('#msg').val("");
                m = i.replace("{msg}", msg )
                youx = you.replace("{msg}", msg )
                $(".tela_chat").append(m);
                $(".tela_chat").append(youx);
                $(".tela_chat").animate({scrollTop: $(document).height()}, 1000);
            })


            $(".follow").click(function () {
                item = this
                var o = $(item).attr('data');
                $(item).next('img').show();
                url = "/projeto/participar/" + o
                $.get(url, function (resultado) {
                    var ok = resultado;
                    $(item).next('img').hide();
                    $(item).html(resultado);
                });


            })
        });


    </script>
{% endblock %}