{% load static %}
<form method="post" action="{%  url 'busca' %}" id="formbusca" name="formbusca">
 {% csrf_token %}
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">
                <img src="{% get_media_prefix %}pic/logo_ideia.png" class="img-responsive">
            </a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
            <a href="#" data-target="slide-out" class="sidenav-trigger "><i class="fas fa-ellipsis-h"></i></a>
            <ul class="right hide-on-med-and-down">

                <li>
                   <input type="text" class="busca" name="bsc" id="bsc">
                </li>

                <li>
               <li><a href="javascript:void(0);" name="busca" id="busca" class="busca"><i class="material-icons">search</i></a></li>
                </li>
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo2">
        <li><a href="sass.html"><i class="fas fa-user menu_icon_mobile"></i>Perfil</a></li>
        <li><a href="badges.html"><i class="fas fa-project-diagram menu_icon_mobile"></i>Projetos</a></li>
        <li><a href="collapsible.html"><i class="fas fa-comments menu_icon_mobile"></i>Mensagens</a></li>
        <li><a href="{% url "logout" %}">">
            <span class="icon_menu"><i class="fas fa-sign-out-alt menu_icon_mobile"></i></span>Logout
        </a>
        </li>
    </ul>


    <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!">one</a></li>
        <li><a href="#!">two</a></li>
        <li class="divider"></li>
        <li><a href="{% url 'logout' %}"><span class="fas fa-sign-out-alt">Logout</span></a></li>
    </ul>
</div>

<ul class="sidenav" id="mobile-demo">
    <li><a href="{% url "perfil" %}">Perfil</a></li>
    <li><a href="{% url "projeto" %}">Projetos</a></li>
    <li><a href="collapsible.html">Mensagens</a></li>
    <li><a href="{% url "logout" %}"><span class="fas fa-sign-out-alt">Logout 11</span></a></li>
</ul>

<ul id="slide-out" class="sidenav sidenav-fixed">
    <li>
        <div class="user-view">
            <div class="background">
                <img src="{% get_media_prefix %}pic/banner.jpg">
            </div>
            <div style="width: 100px; float: left;">
                {% if usuario.pic %}
                    <a href="{% url "perfil" %}"><img class="circle" src="{% get_media_prefix %}{{ usuario.pic }}"></a>
                {% endif %}
            </div>
            <div>
                <a href="{% url "perfil" %}"><span class="white-text name">{{ usuario.name }}</span></a>
                <a href="{% url "perfil" %}"><span class="white-text email">{{ usuario.email }}</span></a>
            </div>

        </div>
    </li>
    <li><a href="{% url "perfil" %}">
        <span class="icon_menu"><i class="fas fa-user-circle"></i></span>Perfil
    </a>
    </li>
    <li><a href="{% url "projeto" %}">
        <span class="icon_menu"><i class="fas fa-plus-circle"></i></span>Criar Projetos
    </a>
    <li><a href="{% url "meusprojetos" %}">
        <span class="icon_menu"><i class="fas fa-project-diagram"></i></span>Meus Projetos
    </a>
    </li>
    <li><a href="#!">
        <span class="icon_menu"><i class="fas fa-comment"></i></span>Mensagens
    </a>
    </li>
    <li><a href="{% url "logout" %}">
        <span class="icon_menu"><i class="fas fa-sign-out-alt menu_icon_mobile"></i></span>Logout
    </a>
    <li>
        <div class="divider"></div>
    </li>
</ul>
</form>


