{% load static %}
{% if paginacao  %}
  <ul class="pagination">
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    {%  for i in paginarange %}
        <li {% if i|slugify  == paginaatual|slugify  %}class="active" {% else %}class="waves-effect"{% endif %} >
            <a href="{{ buscaurl }}pa={{ i }}&bsc={{ busca }}">{{ i }}</a>
        </li>
    {%  endfor %}
    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
  </ul>
{% endif %}