{% extends "logado/base.html" %}
{% load static %}
{% block body %}
    <main>
    <div class="row">
        <div class="col s12">
            <div class="card ">
                <div class="card-content">
                    <div>
                        <h5 class="center-align cor_verde">Perfil</h5>
                        <br>
                    </div>
                    <div class="row">
                        <form class="col s12" method="post">
                            {% csrf_token %}

                            <div class="row">
                                <div class="input-field col s12 center-align ">
                                    <div class="row center-align">
                                        {% if usuario.pic %}
                                            <a href="{% url "upload" %}"><img class="responsive-img" src="
                                                    {% get_media_prefix %}{{ usuario.pic }}" style="height:100px"></a>
                                        {% else %}
                                            <a href="{% url "upload" %}"><img class="responsive-img"
                                                                              src="https://picsum.photos/300/300"
                                                                              style="height:100px"></a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="input-field col s12 m6">
                                    <input placeholder="Digite o seu email" id="email" type="email" name="email"
                                           class="active validate" value="{{ usuario.email }}" disabled
                                           data-error="Campo obrigatório">
                                    <label for="email">Email*</label>
                                </div>

                                <div class="input-field col s12 m6 ">
                                    <input placeholder="Digite seu nome" id="nome" type="text" name="nome"
                                           class="active validate" value="{{ usuario.name }}" required
                                           data-error="Campo obrigatório">
                                    <label for="nome">Nome Completo*</label>
                                </div>

                            </div>

                            <div class="row">
                                <div class="input-field col s12 m6">
                                    <input placeholder="Digite seu nome" id="profile_name" type="text"
                                           name="profile_name" class="active validate"
                                           value="{{ usuario.profile_name }}" required data-error="Campo obrigatório">
                                    <label for="nome">Nome do Perfil*</label>
                                </div>

                                <div class="input-field col s12 m6">
                                    <input placeholder="Digite seu facebook" id="facebook" type="text" name="facebook"
                                           class="active validate" value="{{ usuario.facebook|default_if_none:" " }}"
                                           required
                                           data-error="Campo obrigatório">
                                    <label for="facebook">Facebook</label>
                                </div>

                            </div>

                            <div class="row">
                                <div class="input-field col s12 m6">
                                    <input placeholder="Digite seu twitter" id="twitter" type="text" name="twitter"
                                           class="active validate" value="{{ usuario.twitter|default_if_none:" " }}"
                                           data-error="Campo obrigatório">
                                    <label for="twitter">Twitter</label>
                                </div>

                                <div class="input-field col s12 m6">
                                    <input placeholder="Digite seu linkedin" id="linkedin" type="text" name="linkedin"
                                           class="active validate" value="{{ usuario.linkedin|default_if_none:" " }}"
                                           data-error="Campo obrigatório">
                                    <label for="linkedin">Linkedin</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12 m6">
                                    <select id="formacao" name="formacao">
                                        <option disabled="disabled">Escolha</option>
                                        {% for i in educationlist %}
                                            {% if i.id == usuario.education.id %}
                                                <option value="{{ i.id }}" selected>{{ i.education }}</option>
                                            {% else %}
                                                <option value="{{ i.id }}">{{ i.education }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                    <label for="twitter">Formação</label>
                                </div>

                            </div>

                            <div class="row">
                                <div class="input-field col s12 m4">
                                    <h10>Interesses</h10>
                                    {% for i in interestsList %}
                                        <p>
                                            <label>
                                                <input type="checkbox" id="interesses" name="interesses[]"
                                                       value="{{ i.id }}" {% if i in interests %}checked{% endif %}/>
                                                <span>{{ i.interests }}</span>
                                            </label>
                                        </p>
                                    {% endfor %}

                                </div>

                                <div class="input-field col s12 m6">
                                    <h10>Área de Formação</h10>
                                    {% for i in trainingareaList %}
                                        <p>
                                            <label>
                                                <input type="checkbox" id="trainingarea" name="trainingarea[]"
                                                       value="{{ i.id }}" {% if i in trainingarea %}checked{% endif %}/>
                                                <span>{{ i.trainingarea }}</span>
                                            </label>
                                        </p>
                                    {% endfor %}

                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12 m3">
                                    <h10>Possui alguma deficiência?</h10>
                                    {% for i in deficiencyList %}
                                        <p>
                                            <label>
                                                <input type="checkbox" id="deficiencia" name="deficiencia[]"
                                                       value="{{ i.id }}" {% if i in deficiency %}checked{% endif %}
                                                />
                                                <span>{{ i.deficiency }}</span>
                                            </label>
                                        </p>
                                    {% endfor %}

                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12 m3">
                                    <h10>Inglês</h10>
                                    {% for i in levelList %}
                                        <p>
                                            <label>
                                                <input name="english" type="radio" value="{{ i.id }}"
                                                       {% if usuario.english.id == i.id %}checked{% endif %}/>
                                                <span>{{ i.level }}</span>
                                            </label>
                                        </p>
                                    {% endfor %}
                                </div>

                                <div class="input-field col s12 m3">
                                    <h10>Espanhol</h10>
                                    {% for i in levelList %}
                                        <p>
                                            <label>
                                                <input name="Spanish" type="radio" value="{{ i.id }}"
                                                       {% if usuario.Spanish.id == i.id %}checked{% endif %}/>
                                                <span>{{ i.level }}</span>
                                            </label>
                                        </p>
                                    {% endfor %}
                                </div>

                                <div class="input-field col s12 m3">
                                    <h10>Francês</h10>
                                    {% for i in levelList %}
                                        <p>
                                            <label>
                                                <input name="french" type="radio" value="{{ i.id }}"
                                                       {% if usuario.french.id == i.id %}checked{% endif %}/>
                                                <span>{{ i.level }}</span>
                                            </label>
                                        </p>
                                    {% endfor %}
                                </div>

                            </div>

                            <div class="row">
                                <button class="btn pulse waves-effect waves-light z-depth-5" type="submit"
                                        name="action">Enviar
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </main>
{% endblock %}