{% extends "logado/base.html" %}
{% load static %}
{% block body %}
    <main>
        <div class="row">
            <div class="col s12">
                <div class="card ">
                    <div class="card-content">
                        <div>
                            <h5 class="center-align cor_verde">Projeto</h5>
                            <br>
                        </div>
                        <div class="row">
                            <form  method="post" id="formprojeto" name="formprojeto" class="col s12">
                                {% csrf_token %}
                                {% if projeto.id %}
                                    <input type="hidden" name="id_projeto" id="id_projeto" value="{{ projeto.id }}">
                                {% endif %}

                                <div class="row">
                                    <div class="input-field col s12 center-align ">
                                        <div class="row center-align">
                                            {% if projeto.id %}
                                                {% if projeto.pic %}
                                                    <a href="{% url "uploadprojeto" id_projeto=projeto.id %}"><img
                                                            class="responsive-img" src="
                                                        {% get_media_prefix %}{{ projeto.pic }}"
                                                            style="height:100px"></a>
                                                {% else %}
                                                    <a href="{% url "uploadprojeto" id_projeto=projeto.id %}"><img
                                                            class="responsive-img"
                                                            src="https://picsum.photos/300/300"
                                                            style="height:100px"></a>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="input-field col s12 m6 ">
                                        <input placeholder="Digite seu nome" id="nome" type="text" name="nome"
                                               class="active validate" value="{{ projeto.name }}" required
                                               data-error="Campo obrigatório">
                                        <label for="nome">Nome do projeto*</label>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="input-field col s12 ">
                                    <textarea id="resumo" name="resumo" class="materialize-textarea active validate"
                                              rows="3" required
                                              data-error="Campo obrigatório">{{ projeto.resume }}</textarea>
                                        <label for="nome">Resumo do Projeto</label>
                                    </div>
                                </div>


                                <div class="row">

                                    <div class="input-field col s12 m6">
                                        <h10>Interesses</h10>
                                        {% for i in interestsList %}
                                            <p>
                                                <label>
                                                    <input type="checkbox" id="interesses" name="interesses[]"
                                                           value="{{ i.id }}"
                                                           {% if i in projeto.interests.all %}checked{% endif %}/>
                                                    <span>{{ i }}</span>
                                                </label>
                                            </p>
                                        {% endfor %}

                                    </div>

                                    <div class="input-field col s12 m6">

                                        <div class="row">

                                            <div class="input-field col s12 m12">
                                                <h10>Este Projeto é parte de uma organização</h10>
                                                <p>
                                                    <label>
                                                        <input name="parte" type="radio" value="1"
                                                               id="parte" class="parte"
                                                               {% if projeto.isfromanyorganization == 1 %}checked{% endif %}/>
                                                        <span>sim</span>
                                                    </label>
                                                    <label>
                                                        <input name="parte" type="radio" value="0"
                                                               id="parte" class="parte"
                                                               {% if projeto.isfromanyorganization is null or projeto.isfromanyorganization == 0 %}checked{% endif %}/>
                                                        <span>Não</span>
                                                    </label>
                                                </p>
                                            </div>

                                            <div class="input-field col s12 m12 or">
                                                <input placeholder="Digite o nome da organização" id="qual_organizacao"
                                                       type="text"
                                                       name="qual_organizacao"
                                                       class="active validate" value="{{ projeto.name }}"
                                                       data-error="Campo obrigatório">
                                                <label for="nome">Qual*</label>
                                            </div>

                                            <div class="input-field col s12 m12 or">
                                                <select id="tipo_organizacao" name="tipo_organizacao">
                                                    <option>Escolha</option>
                                                    {% for i in organizationList %}
                                                        {% if i.id == projeto.organizationtype.id %}
                                                            <option value="{{ i.id }}"
                                                                    selected>{{ i.organizationtype }}</option>
                                                        {% else %}
                                                            <option value="{{ i.id }}">{{ i.organizationtype }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                                <label for="twitter">Qual o tipo de organização</label>

                                            </div>
                                        </div>


                                    </div>


                                </div>


                                <div class="row">
                                    <div class="input-field col s12 ">
                                    <textarea id="missao" name="missao" class="materialize-textarea active validate"
                                              rows="3" required
                                              data-length="200"
                                              maxlength="200"
                                              data-error="Campo obrigatório">{{ projeto.misson }}</textarea>
                                        <label for="missao">Missâo</label>
                                    </div>


                                </div>


                                <div class="row">
                                    <div class="input-field col s12 ">
                                    <textarea id="visao" name="visao" class="materialize-textarea active validate"
                                              rows="3" required
                                              data-length="200"
                                              maxlength="200"
                                              data-error="Campo obrigatório">{{ projeto.vision }}</textarea>
                                        <label for="visao">Visão</label>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="input-field col s12 ">
                                    <textarea id="valores" name="valores" class="materialize-textarea active validate"
                                              data-length="200"
                                              maxlength="200"
                                              rows="3" required
                                              data-error="Campo obrigatório">{{ projeto.values }}</textarea>
                                        <label for="valores">Valores</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12 ">
                                    <textarea id="publico" name="publico" class="materialize-textarea active validate"
                                              rows="3" required
                                              data-length="200"
                                              maxlength="200"
                                              data-error="Campo obrigatório">{{ projeto.target }}</textarea>
                                        <label for="publico">Público</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s12 ">
                                    <textarea id="precisamos" name="precisamos"
                                              class="materialize-textarea active validate"
                                              rows="3" required
                                              data-length="200"
                                              maxlength="200"
                                              data-error="Campo obrigatório">{{ projeto.need }}</textarea>
                                        <label for="precisamos">Precisamos</label>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="input-field col s12 m6">
                                        <input placeholder="Digite a url do seu site" id="site" type="text"
                                               name="site" class="active validate"
                                               value="{{ projeto.site }}" required data-error="Campo obrigatório">
                                        <label for="site">Site</label>
                                    </div>
                                    <div class="input-field col s12 m6">
                                        <input placeholder="Digite a url do seu blog" id="blog" type="text" name="blog"
                                               class="active validate" value="{{ projeto.blog|default_if_none:" " }}"
                                               required
                                               data-error="Campo obrigatório">
                                        <label for="blog">Blog</label>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="input-field col s12 m6">
                                        <input placeholder="Digite seu facebook" id="facebook" type="text"
                                               name="facebook"
                                               class="active validate"
                                               value="{{ projeto.facebook|default_if_none:" " }}"
                                               required
                                               data-error="Campo obrigatório">
                                        <label for="facebook">Facebook</label>
                                    </div>

                                    <div class="input-field col s12 m6">
                                        <input placeholder="Digite seu twitter" id="twitter" type="text" name="twitter"
                                               class="active validate" value="{{ projeto.twitter|default_if_none:" " }}"
                                               data-error="Campo obrigatório">
                                        <label for="twitter">Twitter</label>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="input-field col s12 m6">
                                        <input placeholder="Digite seu facebook" id="linkedin" type="text"
                                               name="linkedin"
                                               class="active validate"
                                               value="{{ projeto.facebook|default_if_none:" " }}"
                                               required
                                               data-error="Campo obrigatório">
                                        <label for="linkedin">Linkedin</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <button class="btn pulse waves-effect waves-light z-depth-5" type="button"
                                            form="formprojeto"
                                            name="action" id="action">Enviar
                                        <i class="material-icons right">send</i>
                                    </button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block js %}
    <script>
        $(document).ready(function () {

            $('textarea').characterCounter();

            $('.or').hide();
            $(".parte").click(function () {

                if ($(this).val() == "1") {
                    $('.or').show();
                    $('#qual_organizacao').prop("disable", true);
                    $('#qual_organizacao').val("")
                } else {
                    $('.or').hide();
                    $('#qual_organizacao').prop("disable", false);
                }
            });

            {% if acao == 1 %}
                M.toast({html: 'Projeto salvo com sucesso!'})
            {% endif %}

            $("#action").click(function () {
                $("#formprojeto").submit();
            })

        });
    </script>
{% endblock %}
