{% load static %}
<div class="row">
    <div class="col s3 m2">
        {% if project.pic %}
        <a href="{% url 'uploadprojeto' id_projeto=id_project %}">
            <img class="responsive-img"
                 src="{% get_media_prefix %}{{project.pic }}"
                 style="height:100px">
        </a>
        {% else %}
        <a href=""><img class="responsive-img"
                        src="https://picsum.photos/300/300"
                        style="height:100px"></a>
        {% endif %}
    </div>
    <div class="col s7 m10 ">
        <h6>{% if project.admin %}

            <a href="{% url 'editarprojeto' id_projeto=id_project %}"
               class="tooltipped"
               data-position="bottom" data-tooltip="Editar Projeto"><i
                    class="tiny material-icons">edit</i></a>
            {% endif %}
            <small><strong class="cor_verde">{{project.name |title }}</strong>
            </small>
            <br>
            <span class="busca_resume">{{project.resume|linebreaks|truncatechars:300 }}</span>
            <span class="busca_resume">{{project.need|linebreaks|truncatechars:300 }}</span>
            <small>
                {% for o in project.interests.all %}
                #{{ o.interests }}
                {% endfor %}
            </small>
            <br>
            <small><span style="color: #3875d7">
                <a href="{% url 'mensagem' id_projeto=id_project %}">Mensagens</a>  -
                Seguidores{%  if followers > 0  %}({{ followers }}){% endif %} -
                Tarefas  -
                <a href="javascript:follow({{project.id }})" id="participar" class="follow"
                data="{{project.id }}">{% if follower %}Deixar de Participar{% else %}Participar{% endif %}</a>
                <img src="{% get_media_prefix %}pic/ajax-loader.gif" class="nodisplay">
                   </span>
            </small>
    </div>
</div>
