{% extends "logado/base.html" %}
{% load static %}
{% block body %}

  <main>
        <div class="row">

        <div class="col s12">
            <div class="card ">
                <div class="card-content">
                    <div>
                        <h5 class="center-align cor_verde">Upload Foto</h5>
                        <br>
                    </div>

                    <div class="row">
                        <div class="input-field col s12 center-align ">
                            <div class="row center-align">
                                {% if pic %}
                                    <a href="{% url "upload" %}"><img class="responsive-img" src="
                                                    {% get_media_prefix %}{{ pic }}" style="height:100px"></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 center-align ">
                            <div class="row center-align">
                                <form method="post" enctype="multipart/form-data">
                                    {% csrf_token %}

                                    <div class="row">
                                        <div class="input-field col s12 center-align ">
                                            <div class="row center-align">
                                                <div class="upload-btn-wrapper center-align">
                                                    <input type="file" name="myfile" class="btn2"
                                                           data-error="Campo obrigatório" required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col s6 m6 ">


                                            <button class="btn pulse waves-effect waves-light z-depth-5" type="submit"
                                                    name="action">Enviar
                                                <i class="material-icons right">send</i>
                                            </button>


                                        </div>
                                        <div class="col s6 m6 ">

                                            <a href="{% url 'perfil' %}"
                                               class="btn pulse waves-effect waves-light z-depth-5 red darken-3">
                                                <i class="material-icons right">send</i> Cancelar
                                            </a>
                                            </button>


                                        </div>

                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>

                    {% if uploaded_file_url %}
                        <form method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="input-field col s12 center-align ">
                                    <div class="row center-align">
                                        {% if pic %}
                                            <a href="{% url "upload" %}">
                                                <img class="responsive-img z-depth-5"
                                                     src="{% get_media_prefix %}{{ uploaded_file_url }}"
                                                     style="height:100px"></a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12 center-align ">
                                    <input type="hidden" value="{{ uploaded_file_url }}" name="foto"/>

                                    <button class="btn pulse waves-effect waves-light z-depth-5 teal darken-1"
                                            type="submit"
                                            name="action">Confirma
                                        <i class="material-icons right">send</i>
                                    </button>

                                </div>
                            </div>
                        </form>
                    {% endif %}

                </div>
            </div>
        </div>
        </form>
    </div>
  </main>
{% endblock %}