.fundo_verde {
    background-color: #003739;
}

.logo_menu {
    height: 58px;
}

.nav-wrapper {
    background-color: #003739
}

.secondary-content > .material-icons {
    color: #003739
}

.btn {
    background-color: #003739
}

.page-footer {
    background-color: #003739
}

.input-field {
    color: #003739
}

.input-field > .material-icons {
    color: #003739
}

.input-field > label {
    color: #003739
}

.dropdown-content > li > a {
    color: #003739
}

footer.page-footer {
    padding-top: 5px;
    background-color: #003739;
    color: white;
    padding-left: 5px;
}

.bg_banner_destaque {
    width: 100%;
    height: 100vh;
    background-image: url(/media/pic/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
    display: flex;
    align-items: center;
}

.bg_banner_destaque span {
    width: 100%;
    font-size: 65px;
    letter-spacing: 10px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
}


.brand-logo img {
    height: 58px;
}

nav {
    font-family: "Roboto Condensed", sans-serif;
}

.cor_verde {
    color: #083739
}

.icon_menu {
    font-size: 21px !important;
    color: #003739;
    padding-right: 5px
}

.upload-btn-wrapper {

}

.btn2 {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;

    font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
    font-size: 10px;

}


textarea {
    height: 4rem !important;
}

.barra_titulo {
    background-color: #a5b1b2;
    color: white;
    border-radius: 9px;
    padding-left: 15px;
    padding-top: 7px;
    height: 33px;
}


header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width: 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

.sidenav .user-view {
    position: relative;
    padding: 10px 10px 0;
    margin-bottom: 8px;
}


.sidenav.sidenav-fixed {
    top: 64px;
}

nav {
    height: 64px !important;
}

.busca {
    font-size: 15px !important;
    color: #ffffff !important;
}

.busca_resume {
    font-size: 13px;
    line-height: 15px;
    text-align: justify
}

.nodisplay {
    display: none;
}

.pagination {
    font-size: 13px;
}


.pagination li.active {
    background-color: #003739;
    font-size: 11px !important;
}

.pagination li a {
    font-size: 10px;
}

.chat-field {
    background-color: #fff;
    display: inline-block;
    position: relative;
    padding: 5px;
    margin-left: 10px;
    border: 2px solid red;
    border-top-right-radius: 10px;
}

.chat-field2 {
    background-color: #fff;
    display: inline-block;
    position: relative;
    padding: 5px;
    margin-right: 10px;
    border: 2px solid grey;
    border-top-left-radius: 10px;
}

.chat-message {
    margin: 0;
}

.example {
    width: 0;
    height: 0;
    border-width: 10px 0px 10px 10px;
    border-style: solid;
    border-color: red transparent transparent transparent;
    position: absolute;
    top: -2px;
    left: 0;
    transform: translate(-100%, 0);
}

.example2 {
    width: 0;
    height: 0;
    border-width: 10px 10px 10px 0px;
    border-style: solid;
    border-color: grey transparent transparent transparent;
    position: absolute;
    top: -2px;
    right: -20px;
    transform: translate(-100%, 0);
}


.tela_chat {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 300px;
    height: auto
}

.minha_td {
    padding: 4px 5px  !important;
}

.pagination li.active a {
    color: #fff;
    padding: 0 4px;
}

.card .card-content {
    padding: 7px 19px 24px 24px;
    border-radius: 0 0 2px 2px;
}

.myimageprofile{
    width:70px;
    max-width:70px;
    heigh:auto
}
