<div class="container">
    <div class="row">

               <div class="card ">
                <div class="card-content">

        <article>
            <header>
                <br>
                <h3>Sobre nós</h3>
                <hr class="star-primary">
            </header>
            <p>A verdadeira luta sempre foi entre os sensatos e os insensatos. Muitas outras formas de dividir o mundo
                em
                dois
                grupos formam modelos limitados, por que tentam responder uma pergunta que não é a pergunta correta. A
                pergunta
                correta é: “o que deve ser feito?” - e não, “quem tem razão?”</p><br/>

            <p>O mundo passa por uma crise ética. Em nenhum nível temos claro exatamente o que deve ser feito. O
                problema é
                que
                a crise ética vem na contramão de uma ascensão sem precedentes do poder. A capacidade humana de fazer
                coisas
                cresce exponencialmente, mas não conseguimos decidir quais coisas devem ser feitas, da ciência à
                tecnologia,
                das
                organizações à vida cotidiana, e assim por diante.</p><br/>

            <p>O desafio da nossa época é unir os sensatos e permitir que criem, que construam coletivamente e causem
                impacto
                social. Independente de qual lado uma pessoa possa estar em cada assunto - religião, política, ou o que
                for
                - a
                ideia é possibilitar o trabalho conjunto, somado ao sonho de cada um, com o objetivo de transformar.</p>
            <br/>

            <p>Por isso a organização Ideia criou uma ferramenta que permite o diálogo e a produção de ações entre
                idealizadores
                sociais.
                Nossa meta é criarmos - em conjunto - uma rede social (no sentido mais urgente do termo) e assim gerar
                reconhecimento para causas humanas.</p><br/>

            <p>Este é o convite para você fazer parte da rede. Se tornar a vida das pessoas melhor lhe faz bem, nós
                precisamos
                da sua contribuição. Se está interessado, se sente que de certa forma já está nessa rede, clique <a
                        href="">aqui</a> para saber mais e criar uma conta.</p><br/>

            <p>Se não estiver interessado, tudo bem. O que quer que você faça para melhorar o mundo é para nós um
                inspiração.</p>
        </article>


                </div>
               </div>
    </div>
</div>