<!DOCTYPE html>
<html lang="pt-br">
{% load  static %}
{% include "header.html" %}
<body style="background-color: #a6b1b3;" >
{% block body %}
{% endblock %}

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>

<script>
    $(function () {
        var themeColor = '003739';
        $(".button-collapse").sideNav();
    });
</script>
{% block js %}{% endblock %}
</body  >


</html>