{% extends "base.html" %}
{% load static %}
{% block title %} {{ titulo }} {% endblock %}
{% block body %}
    {% include "home-menu.html" %}

    <div class="container">
        <div class="row">

            <div class="card ">
                <div class="card-content">

                    <article>
                        <header>
                            <br>
                            <h3>Contato</h3>
                            <br>

                            <div class="row">
                                <form class="col s12" method="post">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="input-field col s8">
                                            <input placeholder="Digite seu nome" id="nome" type="text" name="nome"
                                                   c class="active validate" required data-error="Campo obrigatório">
                                            <label for="nome">Nome Completo*</label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="input-field col s8">
                                            <input placeholder="Digite o seu email" id="email" type="email" name="email"
                                                   class="active validate" required data-error="Campo obrigatório">
                                            <label for="email">Email*</label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="input-field col s5">
                                            <select id="assunto" name="assunto">
                                                <option value="" disabled selected>Escolha</option>
                                                <option value="Propostas">Propostas</option>
                                                <option value="Parceria">Parceria</option>
                                                <option value="Sugestões">Sugestões</option>
                                                <option value="Critica">Critica</option>
                                                <option value="Reportar Irregularidade">Reportar Irregularidades
                                                </option>
                                                <option value="Bugs">Bugs</option>
                                                <option value="Outro">Outro</option>
                                                <label>Assunto*</label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="input-field col s8">
                                    <textarea placeholder="Digite o sua mensagem" id="mensagem" name="mensagem"
                                              class="materialize-textarea active validate" required
                                              data-error="Campo obrigatório"></textarea>
                                            <label for="mensagem">Mensagem*</label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <button class="btn waves-effect waves-light z-depth-5" type="submit"
                                                name="action">Enviar
                                            <i class="material-icons right">send</i>
                                        </button>
                                    </div>

                                </form>
                            </div>

                        </header>
                    </article>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block js %}
    <script>
        $(document).ready(function () {
            $('select').material_select();
        });
    </script>
{% endblock %}