<body style='background-color: #003333'>
<img src='https://www.ideia.cc/imgs/logo_ideia.png alt='Logotipo IDEA'><br>
<br>

<div style='background-color: white ; padding :10px'>
    Olá, <b>{{nome}}</b>.<br><br>
    Você se cadastrou na plataforma Ideia. Agora já pode se conectar com outros voluntários para desenvolver projetos
    sociais em rede.<br>
    Para se ambientar na plataforma, este tutorial pode ser útil: [Link] <br>
    Para críticas ou sugestões, não deixe de nos contatar pelo Fale Conosco do site: [Link] <br> <br>
    Atenciosamente<br><br>
    <b>Equipe Ideia</b>
</div>
</body>