{% load  static %}
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Language" content="pt-br">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="pt-br">

    <meta name="description" content="{{ seodescription }}">
    <meta name="keywords" content="{{ seokey }}">

    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ seourl }}">
    <meta property="og:title" content="{{ seotitle }}">
    <meta property="og:image" content="{{ seoimage }}">

    <title>{{ seotitle }}</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Nunito" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}"/>


</head>