{% load static %}
<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo  center">
            <img src="{% get_media_prefix %}pic/logo_ideia.png">
        </a>
        <a href="#" data-activates="menu-mobile" class="button-collapse">
            <i class="material-icons">menu</i>
        </a>
        <ul class="left hide-on-med-and-down">
            <li {{ about|safe }}><a href="sobre-nos">Sobre nós</a></li>
            <li {{ projects|safe }}><a href="projetos">Projetos</a></li>
            <li {{ doit|safe }}><a href="colabore">Colabore</a></li>
            <li {{ partner|safe }}><a href="parceiros">Parceiros</a></li>
            <li {{ contact|safe }}><a href="contato">Contato</a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
            <li {{ login|safe }}><a href="entrar">Entrar</a></li>
            <li {{ register|safe }}><a href="registrar">Registrar</a></li>
        </ul>
        <ul class="side-nav" id="menu-mobile">
            <li><a href="sobre-nos"><i class="large material-icons">insert_chart</i>Sobre nós</a></li>
            <li><a href="projetos"><i class="large material-icons">account_balance</i>Projetos</a></li>
            <li><a href="colabore"><i class="large material-icons">build</i>Colabore</a></li>
            <li><a href="parceiros"><i class="large material-icons">business_center</i>Parceiros</a></li>
            <li><a href="contato"><i class="large material-icons">contact_mail</i>Contato</a></li>
            <li style="border-top: 1px dotted black"><a href="entrar"><i class="large material-icons">account_box</i>Entrar</a></li>
            <li style="border-top: 1px solid white"><a href="registrar"><i class="large material-icons">assignment_turned_in</i>Registrar</a></li>

        </ul>
    </div>
</nav>