{% extends "base.html" %}
{% load static %}

{% block title %} {{ titulo }} {% endblock %}

{% block body %}
    <div class="page-head">
    {% include "home-menu.html" %}
    </div>
    <div class="page-main">
        <div class="bg_banner_destaque">
            <span>Seja a mudança</span>
        </div>
    </div>
{% endblock %}

{% block js %}

{% endblock %}