{% extends "base.html" %}
{% load static %}
{% block title %} {{ titulo }} {% endblock %}
{% block body %}
    {% include "home-menu.html" %}

    <div class="container">
        <div class="row">
            <br>
            <div class="col s12" style="margin-left: 30px">
                <div class="card">
                    <div class="card-content">
                        <div>
                            <h5 class="center-align cor_verde" >Entrar</h5>

                        </div>
                        <div class="row">
                            <form class="col s12" method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="input-field col s8">
                                        <input placeholder="Digite o seu email" id="email" type="email" name="email"
                                               class="active validate" required data-error="Campo obrigatório">
                                        <label for="email">Email*</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s2">
                                        <input placeholder="Senha" id="senha" type="password" name="senha"
                                               class="active validate" required data-error="Campo obrigatório">
                                        <label for="email">senha*</label>
                                    </div>
                                </div>
                                {% if msg %}
                                <div class="row">
                                    <div class="col s6">
                                        <span class="red-text">{{  msg }}</b></span>
                                    </div>
                                </div>
                                 {% endif %}
                                <div class="row">
                                    <button class="btn waves-effect waves-light z-depth-5" type="submit" name="action">
                                        Enviar
                                        <i class="material-icons right">send</i>
                                    </button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
{% block js %}
    <script>
        $(document).ready(function () {
            $('select').material_select();
        });
    </script>
{% endblock %}