{% extends "base.html" %}
{% load static %}
{% block title %} {{ titulo }} {% endblock %}
{% block body %}
    {% include "home-menu.html" %}

    <div class="container">
    <div class="row">

        <br>
        <div class="col s12" style="margin-left: 30px">
            <div class="card ">
                <div class="card-content">
                    <div>
                        <h5 class="center-align cor_verde">Registrar</h5>
                    </div>
                    <div class="row">
                        Obrigado por registrar em nosso sistema
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}