{% extends "base.html" %}
{% load static %}
{% block title %} {{ titulo }} {% endblock %}
{% block body %}
    {% include "home-menu.html" %}

    <div class="container">
    <div class="row">

        <br>
        <div class="col s12" >
            <div class="card ">
                <div class="card-content">
                    <div>
                        <h5 class="center-align cor_verde">Registrar</h5>
                    </div>
                    <div class="row">
                        <form class="col s12" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="input-field col s12">
                                    <input placeholder="Digite seu nome" id="nome" type="text" name="nome"
                                           class="active validate" required data-error="Campo obrigatório">
                                    <label for="nome">Nome Completo*</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12">
                                    <input placeholder="Digite o seu email" id="email" type="email" name="email"
                                           class="active validate" required data-error="Campo obrigatório">
                                    <label for="email">Email*</label>
                                </div>
                            </div>


                            <div class="row">
                                <div class="input-field col s4">
                                    <input placeholder="Digite a sua senha" id="senha" type="password"
                                           name="senha"
                                           class="active validate" required data-error="Campo obrigatório">
                                    <label for="senha">Senha*</label>
                                </div>

                                <div class="input-field col s4">
                                    <input placeholder="Repita a senha novamente" id="senha2" type="password"
                                           name="senha2"
                                           class="active validate" required data-error="Campo obrigatório">
                                    <label for="senha2">Senha *</label>
                                </div>
                            </div>

                            <div class="row">
                                <button class="btn pulse waves-effect waves-light z-depth-5" type="submit"
                                        name="action">Enviar
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        $(document).ready(function () {
            $('select').material_select();
        });
    </script>
{% endblock %}
